body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  background-image: url(../img/logo-45-deg.png);
  background-size: 150px;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 400px;
  height: 200px;
  background-image: url("../img/logo-black.png");
  background-size: contain;
}

.right-logo {
  display: flex;
  justify-content: center;
}

/* Add padding to containers */
.enter-form {
  padding: 16px;
  border: 10px #ee6201 solid;
  background-color: black;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border: 2px #ee6201 solid;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #ee6201;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20pt;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.registerbtn:hover {
  opacity: 1;
  background-color: green;
}

/* Add a blue text color to links */
a {
  color: white;
  text-decoration: none;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: black;
  color: white;
  text-align: center;
}

.button {
  border: 1px #ee6201 solid;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.button:hover {
  background-color: #ee6201;
  color: black;
}

.button-registration {
  border: 1px black solid;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.button-registration:hover {
  background-color: green;
  color: white;
}
