body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}

.body_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}

.body_visible {
	opacity: 1;
}

.top-link-wrapper {
  background-color: orange;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 100px 10px 50px;
  margin: 0 0 10px 0;
  justify-content: space-between;
  display: flex;
}

.top-link-registration {
  align-items: center;
  display: flex;
}

.button {
  border: 1px black solid;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.button:hover {
  background-color: rgb(38, 220, 233);
  color: white;
}

.button-registration {
  border: 1px black solid;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.button-registration:hover {
  background-color: green;
  color: white;
}

.order-btn {
  border: 1px black solid;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  color: white;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;
}

.order-btn:hover {
  background-color: orange;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.h1-name {
  text-align: center;
}

.h2-name {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.eat-menu-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo {
  width: 450px;
  margin-bottom: 10px;
}

.icon {
 width: 100px;
 height: 100px;
 color: white;
 background-image: url('../img/icon.jpg');
 background-size: contain;
 -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.chips-menu-element:hover .icon{
  background-image: url('../img/icon-orange.jpg');
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.eat-set {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border: 10px orange solid;
  border-radius: 10px;
  background-color: black;
}

.eat-set:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  z-index: 17;
}

#menu {
  margin: 0 0 10px 0;
  padding: 0 10%;
  background-color: black;
  text-align: center;
  position: sticky;
  font-size: 25px;
  top: 0px;
  border: 5px orange solid;
  border-radius: 10px;
  z-index: 16;
}

.menu-element {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.menu-element:hover {
  background-color: orange;
  color: black;
}

.chips-wrapper {
background-color: orange;
border-radius: 20px;
padding-bottom: 20px;
padding-top: 20px;
margin-top: 10px;
}

.chips {
  display: flex;
  justify-content: space-evenly;
}

.chips-menu-element {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border: 10px rgb(0, 0, 0) solid;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.chips-menu-element:hover {
  color: rgb(0, 0, 0);
  background-color: orange;
}

footer {
  background-color: orange;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 50px 10px 50px;
  margin: 50px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oplata-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}

