body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  background-image: url(../img/logo-45-deg.png);
  background-size: 150px;
  margin: 0;
}

.body_hide {
  opacity: 0;
  transition: 0.9s opacity ease-in-out;
}

.body_visible {
  opacity: 1;
}

.top-link-wrapper {
  background-color: orange;
  font-size: 20px;
  padding: 5px 10% 5px 5%;
  justify-content: space-between;
  display: flex;
}

.top-link-registration {
  align-items: center;
  display: flex;
}

.help-wrapper {
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.help {
  width: 30%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 5px;
  border: 10px rgb(0, 0, 0) solid;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.help:hover {
  color: white;
  font-size: 20px;
  margin: 5px;
  border: 10px rgb(0, 0, 0) solid;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px rgb(0, 0, 0), 2px 2px rgb(0, 0, 0), 3px 3px rgb(0, 0, 0),
    4px 4px rgb(0, 0, 0), 5px 5px rgb(0, 0, 0), 6px 6px rgb(0, 0, 0),
    7px 7px rgb(0, 0, 0);
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

.button {
  border: 1px black solid;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: black;
  color: white;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.button:hover {
  background-color: green;
  color: white;
}

.button-registration {
  border: 1px black solid;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.button-registration:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

.button-soc {
  border: 1px black solid;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  align-items: center;
  display: flex;
}

.button-soc:hover {
  background-color: green;
  color: white;
}

.order-btn {
  border: 1px black solid;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  color: white;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20pt;
}

.order-btn:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.h1-name {
  text-align: center;
}

.h2-name {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-shadow: 0 0 20px black;
}

.h2-name-wrapper-1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: black;
  border: 5px orange solid;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  margin: 0;
}

.h2-name-wrapper {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: black;
  border: 5px orange solid;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.eat-menu-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo {
  width: 450px;
  margin-bottom: 10px;
}

.logo {
  width: 400px;
  height: 200px;
  color: white;
  background-image: url("../img/logo-black.png");
  background-size: contain;
}

.icon {
  width: 100px;
  height: 100px;
  color: white;
  background-image: url("../img/icon.png");
  background-size: contain;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.chips-menu-element:hover .icon {
  background-image: url("../img/icon-orange.png");
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.eat-inf {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  background-color: black;
}

.eat-set {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border: 5px orange solid;
  border-radius: 10px;
  background-color: black;
}

.eat-set:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  z-index: 17;
}

#menu {
  margin: 0 0 10px 0;
  padding: 0 10%;
  background-color: black;
  text-align: center;
  position: sticky;
  font-size: 25px;
  top: 0px;
  border: 5px orange solid;
  z-index: 16;
}

.menu-element {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.menu-element:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
}

.chips-wrapper {
  background-color: orange;
  padding-top: 10px;
  margin-top: 50px;
}

.chips {
  display: flex;
  justify-content: space-evenly;
}

.chips-menu-element {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border: 10px rgb(0, 0, 0) solid;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.chips-menu-element:hover {
  color: rgb(0, 0, 0);
  background-color: orange;
}

.inf-low {
  color: grey;
  font-size: 15px;
  margin-top: 5px;
  width: 500px;
}

.footer-top {
  background-color: orange;
  font-size: 20px;
  padding: 5px 5%;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-down {
  background-color: orange;
  font-size: 20px;
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: grey 1px solid;
}

.oplata-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: white;
}

.information {
  border: 1px orange solid;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.name-product {
  font-size: 30px;
}

.black-backgroud-chips-help {
  background-color: black;
  height: 50px;
}

.black-backgroud-top-menu {
  background-color: black;
  height: 10px;
}

@media only screen and (max-width: 768px) {
}
